.custom-button {
    width: 150px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0px 0px 0px 0px ;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
  
    &:hover {
      background-color: white;
      color: black;
      
    }

    &.google-sign-in{
      background-color: #4285f4;
      color: white;


      &:hover{
        background-color: #387ae8;
        border: none;
      }
    }

    &.inverted{
      background-color: white;
      color: black;
      

      &:hover{
        background-color: black;
      color: white;
      border: none
      }
    }

  }
  